
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #0e0d0d;
    display: grid;
    justify-content: center;
    padding: 150px;
}

.fundo-card {
    background-color: #1a1919;
    border-radius: 12px;
    padding: 40px 30px 25px 30px;
    width: 350px;
}

h1, h2, p, a {
    text-align: center;
    margin: 0;    
}

img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 20px 0px 20px 0px;
    display: block;
    margin: 0 auto;
}

h1 {
    font-size: 25px;
    color: #e6e2e2;
    padding: 12px;
}

h2 {
    font-size: 15px;
    color: #adff2f;
    padding: 0px 0px 25px 0px;
}

p {
    color: #e6e2e2;
    font-size: 15px;
    padding-bottom: 15px;
}

a {
    text-decoration: none;
    color: #e6e2e2;
}

.botoes {
    display: grid;
    gap: 10px 20px;
    padding: 10px;
}

.botoes a {
    border-radius: 7px;
    background-color: #292828;
    padding: 15px;
    margin-bottom: 10px;
}